<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button </title>
  <link href="../../dist/output.css" rel="stylesheet">
</head>

<body class="bg-whiteLayer-0 flex flex-col justify-center items-center gap-10 m-20">

  <div class="flex py-4 justify-center items-center gap-4 self-stretch">


    <!-- Button Box Primary -->
    <button type="submit"
      class="inline-flex h-14 px-3 flex-col justify-center items-center flex-shrink-0 rounded-lg border-2 bg-whiteLayer-2 border-blackLayer-0 hover:bg-whiteLayer-3 active:border-2 active:border-blackLayer-4 active:bg-whiteLayer-3 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
      <div class="flex py-3.5 px-10 flex-col justify-center items-center gap-2.5 flex-grow">
        <div class="flex justify-center items-center gap-6">

          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-md font-semibold flex justify-center items-center text-secondary">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </div>
    </button>

    <!-- Button Box Secondary -->
    <button type="submit"
      class="inline-flex h-14 px-3 flex-col justify-center items-center flex-shrink-0 rounded-lg bg-blackLayer-0  hover:bg-blackLayer-1 active:border-2 active:border-2 active:border-blackLayer-4 active:bg-blackLayer-0 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
      <div class="flex py-3.5 px-10 flex-col justify-center items-center gap-2.5 flex-grow">
        <div class="flex justify-center items-center gap-6 text-primary">

          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-sm font-semibold flex justify-center items-center ">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </div>
    </button>

  </div>

  <div class="flex py-4 justify-center items-center gap-4 self-stretch">

    <!-- Button Circle Primary - Large -->
    <div class="flex flex-col justify-center items-center gap-10 m-20">
      <!-- Size Large (h-16) -->
      <button type="submit"
        class="inline-flex h-14 px-8 justify-center items-center flex-shrink-0 rounded-full border-2 bg-whiteLayer-2 border-blackLayer-0 hover:bg-whiteLayer-3 active:border-2 active:border-blackLayer-4 active:bg-whiteLayer-3 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-6">
          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-md font-semibold flex justify-center items-center text-secondary">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>

      <!-- Button Circle Primary - Medium -->
      <!-- Size Medium (h-12) -->
      <button type="submit"
        class="inline-flex h-12 px-6 justify-center items-center flex-shrink-0 rounded-full border-2 bg-whiteLayer-2 border-blackLayer-0 hover:bg-whiteLayer-3 active:border-2 active:border-blackLayer-4 active:bg-whiteLayer-3 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-4">
          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-5 h-5 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-md font-semibold flex justify-center items-center text-secondary">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-5 h-5 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>

      <!-- Size small (h-10) -->
      <button type="submit"
        class="inline-flex h-10 px-4 justify-center items-center flex-shrink-0 rounded-full border-2 bg-whiteLayer-2 border-blackLayer-0 hover:bg-whiteLayer-3 active:border-2 active:border-blackLayer-4 active:bg-whiteLayer-3 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-4">
          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-4 h-4 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-md font-semibold flex justify-center items-center text-secondary">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-4 h-4 justify-center items-center flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>
    </div>


    <!-- Button Circle Large -->
    <div class="flex flex-col justify-center w-full items-center gap-10 m-20">
      <!-- Size Large -->
      <button type="submit"
        class="inline-flex h-14 px-8 justify-center items-center flex-shrink-0 rounded-full bg-blackLayer-0 hover:bg-blackLayer-1 active:border-2 active:border-blackLayer-4 active:bg-blackLayer-0 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-4 text-primary">

          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-sm">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-6 h-6 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>

      <!-- Size Medium -->
      <button type="submit"
        class="inline-flex h-12 px-6 justify-center items-center flex-shrink-0 rounded-full bg-blackLayer-0 hover:bg-blackLayer-1 active:border-2 active:border-blackLayer-4 active:bg-blackLayer-0 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-4 text-primary">
          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-5 h-5 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-md font-semibold">Create Account</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-5 h-5 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>

      <!-- Size Small -->
      <button type="submit"
        class="inline-flex h-10 px-4 justify-center items-center flex-shrink-0 rounded-full bg-blackLayer-0 hover:bg-blackLayer-1 active:border-2 active:border-blackLayer-4 active:bg-blackLayer-0 transition-transform duration-300 ease-in-out hover:scale-90 active:scale-100">
        <div class="flex justify-center items-center gap-3 text-primary">
          <!-- Icon Left (Hidden by Default) -->
          <div class="flex w-4 h-4 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M3 12L21 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M15 18L21 12L15 6" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>

          <!-- Text Container -->
          <span class="text-lb-sm font-semibold">Create</span>

          <!-- Icon Right (Hidden by Default) -->
          <div class="flex w-4 h-4 justify-center items-center flex-shrink-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 12L3 12" stroke="currentColor" stroke-linecap="round" />
              <path d="M9 6L3 12L9 18" stroke="currentColor" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </button>
    </div>

  </div>
</body>

</html>