<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body>
    <div class="main-container flex flex-col items-center justify-center w-full gap-10">
        <!-- Brand Colors Section -->
        <div class="section brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-[32px] font-bold text-grey-2 mb-5">Brand Colors</span>

            <!-- Primary Brand Color Box -->
            <div class="color-box w-[250px] h-[250px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-primary rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Primary</span>
                    <span class="color-code text-grey-2">#092C4C</span>
                </div>
            </div>

            <!-- Secondary Brand Color Box -->
            <div class="color-box w-[250px] h-[250px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-secondary rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Secondary</span>
                    <span class="color-code text-grey-2">#F2994A</span>
                </div>
            </div>
        </div>

        <!-- State Colors Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-[32px] font-bold text-grey-2 mb-5">State Colors</span>

            <!-- Info Color Box -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-info rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Info</span>
                    <span class="color-code text-grey-2">#2F80ED</span>
                </div>
            </div>

            <!-- Success Color Box -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-succ rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Success</span>
                    <span class="color-code text-grey-2">#27AE60</span>
                </div>
            </div>

            <!-- Warning Color Box -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-warning rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Warning</span>
                    <span class="color-code text-grey-2">#E2B93B</span>
                </div>
            </div>

            <!-- Error Color Box -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-error rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">Error</span>
                    <span class="color-code text-grey-2">#EB5757</span>
                </div>
            </div>
        </div>


        <!-- White Layers Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-[32px] font-bold text-grey-2 mb-5">White Layers</span>

            <!-- White Layer 0 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-whiteLayer-0 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 0</span>
                    <span class="color-code text-grey-2">#F5F4F4</span>
                </div>
            </div>

            <!-- White Layer 1 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-whiteLayer-1 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 1</span>
                    <span class="color-code text-grey-2">#FFF9ED</span>
                </div>
            </div>

            <!-- White Layer 2 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-whiteLayer-2 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 2</span>
                    <span class="color-code text-grey-2">#FFF0D1</span>
                </div>
            </div>

            <!-- White Layer 3 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-whiteLayer-3 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 3</span>
                    <span class="color-code text-grey-2">#FEE0AA</span>
                </div>
            </div>

            <!-- White Layer 4 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-whiteLayer-4 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 4</span>
                    <span class="color-code text-grey-2">#FDC874</span>
                </div>
            </div>
        </div>

        <!-- Dark Layers Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-[32px] font-bold text-grey-2 mb-5">Dark Layers</span>

            <!-- Dark Layer 0 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-blackLayer-0 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 0</span>
                    <span class="color-code text-grey-2">#092C4C</span>
                </div>
            </div>

            <!-- Dark Layer 1 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-blackLayer-1 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 1</span>
                    <span class="color-code text-grey-2">#0D436D</span>
                </div>
            </div>

            <!-- Dark Layer 2 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-blackLayer-2 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 2</span>
                    <span class="color-code text-grey-2">#045DA0</span>
                </div>
            </div>

            <!-- Dark Layer 3 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-blackLayer-3 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 3</span>
                    <span class="color-code text-grey-2">#0474C5</span>
                </div>
            </div>

            <!-- Dark Layer 4 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-blackLayer-4 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 4</span>
                    <span class="color-code text-grey-2">#64E9FF</span>
                </div>
            </div>
        </div>

        <!-- Grey Layers Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-[32px] font-bold text-grey-2 mb-5">Grey Layers</span>

            <!-- Grey Layer 0 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-grey-0 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 0</span>
                    <span class="color-code text-grey-2">#E0E0E0</span>
                </div>
            </div>

            <!-- Grey Layer 1 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-grey-1 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 1</span>
                    <span class="color-code text-grey-2">#BDBDBD</span>
                </div>
            </div>

            <!-- Grey Layer 2 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-grey-2 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 2</span>
                    <span class="color-code text-grey-2">#828282</span>
                </div>
            </div>

            <!-- Grey Layer 3 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-grey-3 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 3</span>
                    <span class="color-code text-grey-2">#4F4F4F</span>
                </div>
            </div>

            <!-- Grey Layer 4 -->
            <div class="color-box w-[100px] h-[120px] flex flex-col items-center">
                <div class="box-color w-full h-full bg-grey-4 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center mt-4">
                    <span class="label text-secondary font-bold">layer 4</span>
                    <span class="color-code text-grey-2">#333333</span>
                </div>
            </div>
        </div>

        <!-- Shape Blue Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-h2 font-semibold text-grey-3">Shape Blue</span>

            <!-- box state -->
            <div class="color-box shape-blue-up w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-up rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Up</span>
                </div>
            </div>

            <div class="color-box shape-blue-down w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-down rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Down</span>
                </div>
            </div>

            <div class="color-box shape-blue-left w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-left rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Left</span>
                </div>
            </div>

            <div class="color-box shape-blue-right w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-right rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Right</span>
                </div>
            </div>

            <div class="color-box shape-blue-outv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-outv rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Out V</span>
                </div>
            </div>

            <div class="color-box shape-blue-inv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-inv rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue In V</span>
                </div>
            </div>

            <div class="color-box shape-blue-outh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-outh rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue Out H</span>
                </div>
            </div>

            <div class="color-box shape-blue-inh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-b-inh rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Blue In H</span>
                </div>
            </div>
        </div>

        <!-- Shape Dark Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-h2 font-semibold text-grey-3">Shape Dark</span>

            <div class="color-box shape-dark-up w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-up rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Up</span>
                </div>
            </div>

            <div class="color-box shape-dark-down w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-down rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Down</span>
                </div>
            </div>

            <div class="color-box shape-dark-left w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-left rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Left</span>
                </div>
            </div>

            <div class="color-box shape-dark-right w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-right rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Right</span>
                </div>
            </div>

            <div class="color-box shape-dark-outv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-outv rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Out V</span>
                </div>
            </div>

            <div class="color-box shape-dark-inv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-inv rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark In V</span>
                </div>
            </div>

            <div class="color-box shape-dark-outh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-outh rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Out H</span>
                </div>
            </div>

            <div class="color-box shape-dark-inh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-d-inh rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark In H</span>
                </div>
            </div>
        </div>



        <!-- Grad Color Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-h2 font-semibold text-grey-3">Gradien</span>

            <div class="color-box shape-dark-up w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-gold rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Up</span>
                </div>
            </div>

            <div class="color-box shape-dark-down w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-bluesky rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Down</span>
                </div>
            </div>

            <div class="color-box shape-dark-left w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-glass rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Left</span>
                </div>
            </div>

            <div class="color-box shape-dark-right w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-dark-glass rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Right</span>
                </div>
            </div>

            <div class="color-box shape-dark-outv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-moon rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Out V</span>
                </div>
            </div>

            <div class="color-box shape-dark-inv w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-gold-out rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark In V</span>
                </div>
            </div>

            <div class="color-box shape-dark-outh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-gold-in rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Out H</span>
                </div>
            </div>

            <div class="color-box shape-dark-inh w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-radial-primary rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark In H</span>
                </div>
            </div>
        </div>


        <!-- Shape size Section -->
        <div class="section sub-brand-colors flex flex-wrap gap-10 justify-center">
            <span class="title text-h2 font-semibold text-grey-3">Shape</span>

            <div class="w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-shape-50 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Up</span>
                </div>
            </div>

            <div class="color-box shape-dark-down w-24 h-32 flex flex-col items-center">
                <div class="box-color w-full h-full bg-shape-70 rounded-lg shadow-custom"></div>
                <div class="caption flex gap-1 justify-center items-center">
                    <span class="label text-secondary font-semibold">Shape Dark Down</span>
                </div>
            </div>
        </div>

    </div>

</body>

</html>