<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link href="../../dist/output.css" rel="stylesheet">

</head>

<body class="bg-whiteLayer-2 font-normal flex flex-col justify-center items-center gap-2 m-20 font-poppins">

    <!-- Input Size-Big -->
    <div class="input-container size-big flex flex-col justify-center items-center gap-1.5 p-2 flex-grow self-stretch">
        <!-- Label -->
        <div class="label flex justify-start items-center gap-2.5 self-stretch">
            <span class="text-lb-md font-semibold text-grey-3">Label</span>
        </div>
        <!-- Input Field -->
        <div
            class="container-input flex flex-col justify-center items-center gap-2.5 p-3.5 rounded-lg bg-white border border-grey-2 focus-within:border-info focus-within:ring-2 focus-within:ring-info self-stretch transition duration-300 ease-in-out">
            <input id="input-field-nama"
                class="input-field w-full bg-transparent text-body-medium placeholder:text-grey-2 focus:outline-none"
                type="text" placeholder="Placeholder" />
        </div>
        <!-- Status Text -->
        <div class="status flex justify-start items-center gap-2.5 self-stretch mt-1">
            <span class="status-text text-p-lg text-grey-2">Status</span>
        </div>

    </div>

    <!-- Input Size-Medium -->
    <div
        class="input-container size-medium flex flex-col justify-center items-center gap-1.5 p-1.5 flex-grow self-stretch">
        <!-- Label -->
        <div class="label flex justify-start items-center gap-2.5 self-stretch">
            <span class="text-lb-md font-semibold text-grey-3">Label</span>
        </div>
        <!-- Input Field -->
        <div
            class="container-input flex flex-col justify-center items-center gap-2.5 p-2 rounded-lg bg-white border border-grey-2 focus-within:border-info focus-within:ring-2 focus-within:ring-info self-stretch transition duration-300 ease-in-out">
            <input id="input-field-password"
                class="input-field w-full bg-transparent text-body-medium placeholder:text-grey-2 focus:outline-none"
                type="text" placeholder="Placeholder" />
        </div>
        <!-- Status Text -->
        <div class="status flex justify-start items-center gap-2.5 self-stretch mt-1">
            <span class="status-text text-p-lg text-grey-2">Status</span>
        </div>

    </div>

    <!-- Input Size-Tiny -->
    <div class="input-container size-tiny flex flex-col justify-center items-center gap-1.5 p-1 flex-grow self-stretch">
        <!-- Label -->
        <div class="label flex justify-start items-center gap-2.5 self-stretch">
            <span class="text-lb-md font-semibold text-grey-3">Label</span>
        </div>
        <!-- Input Field -->
        <div
            class="container-input flex flex-col justify-center items-center gap-2.5 p-1 rounded-lg bg-white border border-grey-2 focus-within:border-info focus-within:ring-2 focus-within:ring-info self-stretch transition duration-300 ease-in-out">
            <input id="input-field-tahun"
                class="input-field w-full bg-transparent text-body-medium placeholder:text-grey-2 focus:outline-none"
                type="text" placeholder="Placeholder" />
        </div>
        <!-- Status Text -->
        <div class="status flex justify-start items-center gap-2.5 self-stretch mt-1">
            <span class="status-text text-p-lg text-grey-2">Status</span>
        </div>

    </div>


</body>

</html>