<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagination</title>
    <link href="../../dist/output.css" rel="stylesheet">

</head>

<body class="bg-whiteLayer-0 flex flex-col justify-center items-center gap-10 m-20 font-poppins">


    <!-- Pagination -->
    <div class="flex py-4 justify-center items-center gap-4 self-stretch">

        <!-- Pagination Arrow -->
        <button title="pagination" type="button"
            class="flex px-2 py-0.5 flex-col justify-center items-center self-stretch rounded bg-secondary text-primary hover:bg-blackLayer-1 hover:border-2 hover:border-blackLayer-4 active:bg-whiteLayer-3 focus:bg-whiteLayer-3 focus:text-secondary focus:border-2 focus:border-blackLayer-0 transition-transform duration-300 ease-in-out">
            <div class="flex px-2.5 justify-between items-center self-stretch ">
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M11 7L6 12L11 17" />
                        <path d="M17 7L12 12L17 17" />
                    </svg>
                </div>
                <div
                    class="text-lb-md font-extrabold flex py-0.5 flex-col justify-center items-center gap-2.5 focus:text-secondary">
                    <span hidden>1</span>
                </div>
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M13 17L18 12L13 7" />
                        <path d="M7 17L12 12L7 7" />
                    </svg>
                </div>
            </div>
        </button>


        <!-- Pagination Number -->
        <button title="pagination" type="button"
            class="flex px-2 py-0.5 flex-col justify-center items-center self-stretch rounded bg-secondary text-primary hover:bg-blackLayer-1 hover:border-2 hover:border-blackLayer-4 active:bg-whiteLayer-3 focus:bg-whiteLayer-3 focus:text-secondary focus:border-2 focus:border-blackLayer-0 transition-transform duration-300 ease-in-out">
            <div class="flex px-2.5 justify-between items-center self-stretch ">
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M11 7L6 12L11 17" />
                        <path d="M17 7L12 12L17 17" />
                    </svg>
                </div>
                <div class="text-lb-md flex py-0.5 flex-col justify-center items-center gap-2.5 focus:text-secondary">
                    <span>1</span>
                </div>
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M13 17L18 12L13 7" />
                        <path d="M7 17L12 12L7 7" />
                    </svg>
                </div>
            </div>
        </button>



        <!-- Pagination Number -->
        <button title="pagination" type="button"
            class="flex px-2 py-0.5 flex-col justify-center items-center self-stretch rounded bg-secondary text-primary hover:bg-blackLayer-1 hover:border-2 hover:border-blackLayer-4 active:bg-whiteLayer-3 focus:bg-whiteLayer-3 focus:text-secondary focus:border-2 focus:border-blackLayer-0 transition-transform duration-300 ease-in-out">
            <div class="flex px-2.5 justify-between items-center self-stretch ">
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M11 7L6 12L11 17" />
                        <path d="M17 7L12 12L17 17" />
                    </svg>
                </div>
                <div class="text-lb-md flex py-0.5 flex-col justify-center items-center gap-2.5 focus:text-secondary">
                    <span>2</span>
                </div>
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M13 17L18 12L13 7" />
                        <path d="M7 17L12 12L7 7" />
                    </svg>
                </div>
            </div>
        </button>

        <!-- Pagination number -->
        <button title="pagination" type="button"
            class="flex px-2 py-0.5 flex-col justify-center items-center self-stretch rounded bg-secondary text-primary hover:bg-blackLayer-1 hover:border-2 hover:border-blackLayer-4 active:bg-whiteLayer-3 focus:bg-whiteLayer-3 focus:text-secondary focus:border-2 focus:border-blackLayer-0 transition-transform duration-300 ease-in-out">
            <div class="flex px-2.5 justify-between items-center self-stretch ">
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M11 7L6 12L11 17" />
                        <path d="M17 7L12 12L17 17" />
                    </svg>
                </div>
                <div class="text-lb-md flex py-0.5 flex-col justify-center items-center gap-2.5 focus:text-secondary">
                    <span>...</span>
                </div>
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M13 17L18 12L13 7" />
                        <path d="M7 17L12 12L7 7" />
                    </svg>
                </div>
            </div>
        </button>


        <!-- Pagination Arrow -->
        <button title="pagination" type="button"
            class="flex px-2 py-0.5 flex-col justify-center items-center self-stretch rounded bg-secondary text-primary hover:bg-blackLayer-1 hover:border-2 hover:border-blackLayer-4 active:bg-whiteLayer-3 focus:bg-whiteLayer-3 focus:text-secondary focus:border-2 focus:border-blackLayer-0 transition-transform duration-300 ease-in-out">
            <div class="flex px-2.5 justify-between items-center self-stretch ">
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg hidden xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M11 7L6 12L11 17" />
                        <path d="M17 7L12 12L17 17" />
                    </svg>
                </div>
                <div
                    class="ext-lb-md font-extrabold flex py-0.5 flex-col justify-center items-center gap-2.5 focus:text-secondary">
                    <span hidden> 1</span>
                </div>
                <div class="flex justify-center items-center gap-2.5 flex-grow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        class="focus-within:text-secondary">
                        <path d="M13 17L18 12L13 7" />
                        <path d="M7 17L12 12L7 7" />
                    </svg>
                </div>
            </div>
        </button>
    </div>


    <!-- BreadCrumbs -->
    <nav class="container-breadcrumb flex h-10 flex-col justify-between items-start self-stretch"
        aria-label="Breadcrumb">
        <div
            class="breadcrumb-box flex p-2 px-4 flex-col items-start gap-2.5 rounded-tl-3xl rounded-br-3xl bg-secondary">
            <ul class="progress-bar flex items-center">
                <!-- Breadcrumb 1 -->
                <li class="container flex pr-4 items-center gap-4">
                    <a href="#" aria-label="data-mahasiswa" class="whitespace-nowrap">
                        <span class="text-lb-md font-semibold text-primary">Data Mahasiswa</span>
                    </a>
                    <div class="arrow-icon flex w-8 h-8 justify-center items-center">
                        <!-- SVG file -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 25" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2 12.5C2 18.0228 6.47715 22.5 12 22.5C17.5228 22.5 22 18.0228 22 12.5C22 6.97715 17.5228 2.5 12 2.5C6.47715 2.5 2 6.97715 2 12.5Z"
                                stroke="#FFF0D1" />
                            <path d="M7.5 12.5L16.5 12.5" stroke="#FFF0D1" stroke-linecap="round" />
                            <path d="M13.5 15.5L16.5 12.5L13.5 9.5" stroke="#FFF0D1" stroke-linecap="round" />
                        </svg>
                    </div>
                </li>

                <!-- Breadcrumb 2 -->
                <li class="container flex pr-4 items-center gap-4">
                    <a href="#" aria-label="Password" class="whitespace-nowrap">
                        <span class="text-lb-md font-semibold text-info">Password</span>
                    </a>
                    <div class="arrow-icon flex w-8 h-8 justify-center items-center">
                        <!-- SVG file -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 25" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2 12.5C2 18.0228 6.47715 22.5 12 22.5C17.5228 22.5 22 18.0228 22 12.5C22 6.97715 17.5228 2.5 12 2.5C6.47715 2.5 2 6.97715 2 12.5Z"
                                stroke="#FFF0D1" />
                            <path d="M7.5 12.5L16.5 12.5" stroke="#FFF0D1" stroke-linecap="round" />
                            <path d="M13.5 15.5L16.5 12.5L13.5 9.5" stroke="#FFF0D1" stroke-linecap="round" />
                        </svg>
                    </div>
                </li>

                <!-- Breadcrumb 3 -->
                <li class="container flex items-center">
                    <a href="#" aria-label="verifikasi" class="whitespace-nowrap">
                        <span class="text-lb-md font-semibold text-info">Verifikasi</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


</body>

</html>